{:deps
 {com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.11.450"},
  com.amazonaws/aws-java-sdk-ssm {:mvn/version "1.11.475"},
  com.google.guava/guava {:mvn/version "22.0"},
  omnyway-labs/saw
  {:git/url "https://github.com/omnyway-labs/saw.git",
   :sha "25f2d25116a3703374363c73c0326c153e4af3b1",
   :time "2020-04-12T16:05:52.000+0000",
   :tag "0.2.11"},
  org.clojure/clojure {:mvn/version "1.10.1"},
  org.clojure/core.cache {:mvn/version "0.7.2"}}}
