{:deps
 {com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.11.450"},
  com.amazonaws/aws-java-sdk-ssm {:mvn/version "1.11.475"},
  com.google.guava/guava {:mvn/version "22.0"},
  omnyway-labs/saw
  {:git/url "https://github.com/omnyway-labs/saw.git",
   :sha "ece7fc88bf137210e68f5451bfa3f4d7fc50d475",
   :time "2019-02-02T23:02:24.000+0000",
   :tag "0.1.5"},
  org.clojure/clojure {:mvn/version "1.9.0"},
  org.clojure/core.cache {:mvn/version "0.7.2"}}}
